@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, strong {
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

ul {
    padding-left: 30px;
}

li {
    text-align: left;
}

body {
    background-color: black;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    background-color: #16141F;
}

nav {
    display: flex;
    justify-content: center;
}

nav p {
    margin: auto;
    display: flex;
}

nav ul {
    width: 80%;
    display: inline-block;
    padding: 20px;
    list-style: none;
}

nav ul li {
    float: right;
    margin-right: 30px;
    font-size: 20px;
    color: white;
    padding: 6px 30px;
    border-radius: 10px;
    transition: 0.2s;
}

nav ul li:hover {
    background-color: #3498DB;
}

.box-group {
    display: flex;
}

.box {
    text-align: center;
    flex: 1;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 11px;
    box-shadow: 0 2.5px #0000001c;
    height: 250px;
}

.box h2 {
    font-size: 20px;
    margin-top: 20px;
}

.title {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0px;
    font-size: 30px;
    color: #fff;
}

.container {
    width: 1200px;
    margin: auto;
}

.page-body article {
    padding: 60px 100px;
}

.page-body article:nth-child(even) {
    background-color: white;
    padding: 60px 100px;
}

.parallax-window {
    color: white;
    text-align: center;
    min-height: 400px;
    background: transparent;
}

#inicio div {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#inicio img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#inicio h1 {
    margin: 0;
    font-size: 50px;
}

#inicio h2 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}